<h3>Žiadosti GDPR</h3>
<table>
    <tbody>

    {foreach $gdpr as $item}
        <tr>
            <td><strong>{_'Dátum požiadania'}</strong></td>
            <td>{$item->request_date|date:'%d.%m.%Y'}</td>
        </tr>
    {/foreach}

    </tbody>
</table>