{if !empty($orders)}
<h3>Objednávky</h3>
    <table>
        <thead>
        <tr>
            <th>#id</th>
            <th>Dátum vytvorenia objednávky</th>
            <th>Dátum vybavenia objednávky</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        {foreach $orders as $order}
        <tr>
            <td>{$order->id}</td>
            <td> {$order->create_date|date:'%d.%m.%Y'}</td>
            <td> {$order->complete_date|date:'%d.%m.%Y'}</td>
            <td> {$order->order_price} {$order->currency}</td>
        </tr>
        {/foreach}
        </tbody>
        </table>

    <h3>Zakúpené produkty</h3>
    <table>
        <thead>
            <tr>
                <th>Názov produktu</th>
                <th>Počet</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
        {foreach $orders as $order}
            {if isset($items[$order->id])}
            {foreach $items[$order->id] as $item}
                <tr>
                    <td>{$products[$item->id]->title}</td>
                    <td>{$item->quantity}</td>
                    <td>{$item->price} {$item->currency}</td>
                </tr>
            {/foreach}
            {/if}
        {/foreach}
        </tbody>
    </table>

{/if}