<h2>Vaše osobné informácie<h2>
        <table>
            <tbody>
            <tr n:if="$user['email']">
                <td><strong>{_'Email:'}</strong></td>
                <td>{$user['email']}</td>
            </tr>
            <tr n:if="$user['last_login']">
                <td><strong>{_'Posledné prihlásenie:'} </strong></td>
                <td>{$user['last_login']}</td>
            </tr>
            <tr n:if="$user['registerDate']">
                <td><strong>{_'Dátum registrácie:'} </strong></td>
                <td>{$user['registerDate']}</td>
            </tr>
            <tr n:if="$user['realFirstName'] ?? $user['realLastName']">
                <td><strong>{_'Meno a priezvisko:'}</strong></td>
                <td>{$user['degree']} {$user['realFirstName']} {$user['realLastName']} {$user['degree_affix']}</td>
            </tr>
            <tr n:if="$user['phone']">
                <td><strong>{_'Telefón:'}</strong></td>
                <td>{$user['phone']}</td>
            </tr>
            <tr n:if="$user['street']">
                <td><strong>{_'Ulica:'}</strong></td>
                <td>{$user['street']}</td>
            </tr>
            <tr n:if="$user['zipCode']">
                <td><strong>{_'PSČ:'}</strong></td>
                <td>{$user['zipCode']}</td>
            </tr>
            <tr n:if="$user['houseNumber']">
                <td><strong>{_'Číslo domu:'} </strong></td>
                <td>{$user['houseNumber']}</td>
            </tr>
            <tr n:if="$user['city']">
                <td><strong>{_'Mesto:'}</strong></td>
                <td>{$user['city']}</td>
            </tr>
            <tr n:if="$user['state']">
                <td><strong>{_'Štát:'}</strong></td>
                <td>{$user['state']}</td>
            </tr>
            <tr n:if="$user['website']">
                <td><strong>{_'Webová stránka:'} </strong></td>
                <td>{$user['website']}</td>
            </tr>
            {if $user['companyName']}
            <h3>{_'Informácie o spoločnosti'}<h3>
                <tr n:if="$user['companyName']">
                    <td><strong>{_'Názov spoločnosti:'} </strong></td>
                    <td>{$user['companyName']}</td>
                </tr>
                <tr n:if="$user['companyStreet']">
                    <td><strong>{_'Adresa spoločnosti:'} </strong></td>
                    <td>{$user['companyStreet']}</td>
                </tr>
                <tr n:if="$user['companyHouseNumber']">
                    <td><strong>{_'Číslo domu spoločnosti:'} </strong></td>
                    <td>{$user['companyHouseNumber']}</td>
                </tr>
                <tr n:if="$user['companyZipCode']">
                    <td><strong>{_'PSČ spoločnosti:'} </strong></td>
                    <td>{$user['companyZipCode']}</td>
                </tr>
                <tr n:if="$user['companyCity']">
                    <td><strong>{_'Mesto spoločnosti:'} </strong></td>
                    <td>{$user['companyCity']}</td>
                </tr>
                <tr n:if="$user['companyState']">
                    <td><strong>{_'Štát spoločnosti:'} </strong></td>
                    <td>{$user['companyState']}</td>
                </tr>
                <tr n:if="$user['ico']">
                    <td><strong>{_'IČO:'} </strong></td>
                    <td>{$user['ico']}</td>
                </tr>
                <tr n:if="$user['dic']">
                    <td><strong>{_'DIČ:'} </strong></td>
                    <td>{$user['dic']}</td>
                </tr>
                <tr n:if="$user['ic_dph']">
                    <td><strong>{_'IČ DPH:'} </strong></td>
                    <td>{$user['ic_dph']}</td>
                </tr>
            {/if}
            {if $user['sameAsShipping'] == 1}
                <tr n:if="$user['shipping_street']">
                    <td><strong>{_'Dodacia adresa:'} </strong></td>
                    <td>{$user['shipping_street']}</td>
                </tr>
                <tr n:if="$user['shipping_houseNumber']">
                    <td><strong>{_'Dodacie číslo domu:'} </strong></td>
                    <td>{$user['shipping_houseNumber']}</td>
                </tr>
                <tr n:if="$user['shipping_zipCode']">
                    <td><strong>{_'Dodacie PSČ:'} </strong></td>
                    <td>{$user['shipping_zipCode']}</td>
                </tr>
                <tr n:if="$user['shipping_city']">
                    <td><strong>{_'Dodacie mesto:'} </strong></td>
                    <td>{$user['shipping_city']}</td>
                </tr>
                <tr n:if="$user['shipping_state']">
                    <td><strong>{_'Dodací štát:'} </strong></td>
                    <td>{$user['shipping_state']}</td>
                </tr>
                <tr n:if="$user['shipping_realFirstName']">
                    <td><strong>{_'Meno:'} </strong></td>
                    <td>{$user['shipping_realFirstName']}</td>
                </tr>
                <tr n:if="$user['shipping_realLastName']">
                    <td><strong>{_'Priezvisko:'} </strong></td>
                    <td>{$user['shipping_realLastName']}</td>
                </tr>
                <tr n:if="$user['shipping_phone']">
                    <td><strong>{_'Telefón:'} </strong></td>
                    <td>{$user['shipping_phone']}</td>
                </tr>
            {/if}
            <tr n:if="$user['facebook']">
                <td><strong>{_'Facebook:'} </strong></td>
                <td>{$user['facebook']}</td>
            </tr>
            <tr n:if="$user['twitter']">
                <td><strong>{_'Twitter:'} </strong></td>
                <td>{$user['twitter']}</td>
            </tr>
            <tr n:if="$user['google_plus']">
                <td><strong>{_'Google plus:'} </strong></td>
                <td>{$user['google_plus']}</td>
            </tr>
            <tr n:if="$user['linkedin']">
                <td><strong>{_'LinkedIn:'} </strong></td>
                <td>{$user['linkedin']}</td>
            </tr>
            <tr n:if="$user['instagram']">
                <td><strong>{_'Instagram:'} </strong></td>
                <td>{$user['instagram']}</td>
            </tr>
            <tr n:if="$user['pinterest']">
                <td><strong>{_'Pinterest:'} </strong></td>
                <td>{$user['pinterest']}</td>
            </tr>
            <tr n:if="$user['tumblr']">
                <td><strong>{_'Twitter:'} </strong></td>
                <td>{$user['tumblr']}</td>
            </tr>
            <tr n:if="$user['work_position']">
                <td><strong>{_'Pracovná pozíciá:'} </strong></td>
                <td>{$user['work_position']}</td>
            </tr>
            </tbody>
        </table>
