{if !empty($data)}
    <h3>Kontaktný formulár</h3>
        <table>
            <thead>
            <tr>
                <td><strong>{_'Meno:'}</strong></td>
                <td><strong>{_'Email:'}</strong></td>
                <td><strong>{_'Text:'}</strong></td>
                <td><strong>{_'Dátum poslania:'}</strong></td>

            </tr>
            </thead>
            <tbody>
            {foreach $data as $item}
                <tr>
                <td>{$item['name']}</td>
                <td>{$item['email']}</td>
                <td>{$item['text']}</td>
                <td>{$item['send_date']|date:'%d.%m.%Y'}</td>
                </tr>
            {/foreach}
            </tbody>
        </table>
{/if}